.row
  .col-12.col-md-8
    .card.mb-3
      img(style='height: 600px; width: 100%; display: block;', src="../images/mary-kate or ashley.jpg", alt='Card image')
      .card-body
        p.card-text
          | Could never keep track of them in the movies
  .col-6.col-md-4
    .card.mb-3
      img(style='height: 600px; width: 100%; display: block;', src='../images/fashion_element.jpg', alt='Card image')
      .card-body
        p.card-text
          | Tired of walking but don't want to get a bike

.row
  .col-6.col-md-4
    .card.mb-3
      img(style='height: 650px; width: 100%; display: block;', src='../images/frida_kahlo.jpg', alt='Card image')
      .card-body
        p.card-text
          | <3
  .col-6.col-md-4
    .card.mb-3
      img(style='height: 650px; width: 100%; display: block;', src='../images/at_home_in_the_world.jpg', alt='Card image')
      .card-body
        p.card-text
          | just chillin'
  .col-6.col-md-4
    .card.mb-3
      img(style='height: 650px; width: 100%; display: block;', src='../images/its_ya_boiiii.jpg', alt='Card image')
      .card-body
        p.card-text
          | a cool kid indeed

.row
  .col-6
    .card.mb-3
      img(style='height: 500px; width: 100%; display: block;', src='../images/birthday_partay_4.jpg', alt='Card image')
      .card-body
        p.card-text
          | partay
  .col-6
    .card.mb-3
      img(style='height: 500px; width: 100%; display: block;', src='../images/space_jamz.jpg', alt='Card image')
      .card-body
        p.card-text
          | Trying not to talk during the movie