.bg
.jumbotron.jumbotron-fluid
  .container
    h1.display-6 new art, 
        span
            | get
        span
            |  excited
    blockquote.blockquote
        p.mb-0.span-1
            | totally loved looking at this stuff tbh
        footer.blockquote-footer.span-1
            | Some rando critic
        cite.span-2(title='Source Title') Huffington Post
        #accordion
            a.btn.btn-primary-custom.btn-lg.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                | stay forever in the loop
            #collapseOne.panel-collapse.collapse
                .social-media-icons
                    i.span-1.mr-5.fab.sm-icon.fa-instagram
                    i.span-1.mr-5.fab.sm-icon.fa-twitter
                    i.span-1.mr-5.fab.sm-icon.fa-facebook-f

    //- a.collapsed.btn.btn-primary.btn-lg(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseIcons', aria-expanded='false', aria-controls='collapseOne') stay forever in the loop
    //- button.btn.btn-primary.btn-lg(type='button') stay forever in the loop



